---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.title }}</h1>
<br />
  <a class="button" style="font-size: 12px;" href="https://toot.kytta.dev/?text=Check%20out%20https://blogpocket.github.io{{  page.url }}%20by%20@blogpocket@federate.social"><span style="padding-top:10px;" ><img src="https://edent.github.io/SuperTinyIcons/images/svg/mastodon.svg" width="24" alt="icono de Mastodon" /></span>&nbsp; Share on Mastodon</a> 
  <br /><br />
  <div class="entry">
    {{ content }}
  </div>
 <br />
  <a class="button" style="font-size: 12px;" href="https://toot.kytta.dev/?text=Check%20out%20https://blogpocket.github.io{{  page.url }}%20by%20@blogpocket@federate.social"><img src="https://edent.github.io/SuperTinyIcons/images/svg/mastodon.svg" width="24" alt="icono de Mastodon" />&nbsp; Share on Mastodon</a>
  <br />
 <div style="text-align: center; margin-top: 10px; margin-bottom: 25px;">
   {% if page.previous %}
  <a class="button" style="font-size: 12px;" title="Prev post" href="{{  site.baseurl }}{{  page.previous.url }}"><span class="fas fa-chevron-circle-left"></span>&nbsp;Prev</a>
{% endif %}
 {% if page.next %}
  &nbsp;&nbsp;&nbsp;&nbsp;<a class="button" style="font-size: 12px;" title="Next post" href="{{  site.baseurl }}{{  page.next.url }}"><span class="fas fa-chevron-circle-right"></span>&nbsp;Next</a>
{% endif %}
  </div>
<br />
  <div class="date" style="margin-top: 25px;">
    By {{ page.author }} Date:
          {{  page.date | date: '%-d' }} /
            {% assign m = page.date | date: '%-m' %}
            {% case m %}
              {% when '1' %}january
                {% when '2' %}february
                {% when '3' %}march
                {% when '4' %}april
                {% when '5' %}may
                {% when '6' %}june
                {% when '7' %}july
                {% when '8' %}august
                {% when '9' %}september
                {% when '10' %}october
                {% when '11' %}november
                {% when '12' %}december
            {% endcase %}
            /
            {{  page.date | date: '%Y' }}
    
       <div style="margin-top: 25px;">
            <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  Archived: 
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
       </div>
  </div>
  <br />
  <br />
  <hr />
  <div style="text-align: center; margin-top: 20px;">
  You can enjoy more articles like this in <a href="{{  site.baseurl }}/archive">the site archive.</a>.
  </div>
  {% include disqus.html %}
</article>
